{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Punto ECO</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" href="#page-top">Punto ECO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                        <li class="nav-item"><a class="nav-link me-lg-3" href="http://127.0.0.1:8000/Horario/">Horario</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="http://127.0.0.1:8000/Localizacion/">Localizacion</a></li>
                    
                    <button class="btn btn-white rounded-pill px-3 mb-2 mb-lg-0 ">
                        <span class="d-flex align-items-center">
                            <i class="bi-chat-text-fill me-1"></i>
                            <a class="nav-link me-lg-2" href="http://127.0.0.1:8000/DatosPersonales/" >Datos Personales</a> 
                            
                        </span>
                    </button>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Mashead header-->
        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3">Ayudar al medio ambiente nunca fue tan facil</h1>
                            <p class="lead fw-normal text-muted mb-5">Esta es una pagina que permite consultar los puntos mas adecuados para dejar la basura, ademas usted tambien puede consultar el horario de recoleccion de basuras, todo esto con el fin de disminuir la contaminacion y ayudar al medio ambiente.</p>

                        </div>
                    </div>
                    
                        <style>
                            .contenedor--img{
                            height: auto;
                            width: 100%;
                            max-width: 500px;
                             overflow: hidden;
                            margin: 5px;
        }
                        </style>
                        <div class="contenedor--img">
                            <img src="https://i.pinimg.com/564x/47/f6/19/47f619856e9582fbb87d055511d0a9a6.jpg" >
                        
                        </div>
                    
                </div>
            </div>
        </header>
        <!-- Quote/testimonial aside-->