<form action="" method="post">
    {% csrf_token%}
    {{form}}

</form>

<form action="url">
    <p>Barrio donde vive: <input type="text" name="nombre"></p>
    <p>Localidad: <input type="text" name="apellidos" size="40"></p>
    <p>Ciudad: <input type="text" name="nacionalidad" size="20"></p>
</form>