<form action="" method="post">
    {% csrf_token%}
    {{form}}

</form>

<form action="url">
    <form action="ejemplo.php" method="get">
        <p>Nombre: <input type="text" name="nombre" size="40"></p>
        <p>Año de nacimiento: <input type="number" name="nacido"></p>
        <p>Sexo:
          <input type="radio" name="hm" value="h"> Hombre
          <input type="radio" name="hm" value="m"> Mujer
        </p>
        <p>
          <input type="submit" value="Enviar">
          <input type="reset" value="Borrar">
        </p>
      </form>
</form>
