<form action="" method="post">
    {% csrf_token%}
    {{form}}

</form> 

<form action="url">
    <p>Fecha: <input type="date" name="" id=""></p>
    <p>Hora: <input type="time" name="hora"></p>
</form> 