<form action="url">
    <form action="ejemplo.php" method="get">
        <p>Nombre: <input type="text" name="nombre" size="40"></p>
        <p>Año de nacimiento: <input type="number" name="nacido"></p>
        <p>Sexo:
          <input type="radio" name="hm" value="h"> Hombre
          <input type="radio" name="hm" value="m"> Mujer
        </p>
        <p>
          <input type="submit" value="Enviar">
          <input type="reset" value="Borrar">
        </p>
      </form>
</form>


<form action="url">
    <p>Barrio donde vive: <input type="text" name="nombre"></p>
    <p>Localidad: <input type="text" name="apellidos" size="40"></p>
    <p>Ciudad: <input type="text" name="nacionalidad" size="20"></p>
</form>

<form action="url">
    <p>Fecha: <input type="date" name="" id=""></p>
    <p>Hora: <input type="time" name="hora"></p>
</form>

<form action="url">
    <p>Usuario: <input type="text" name="usuario" maxlength="6"></p>
    <p>Contraseña: <input type="password" name="password" minlength="6"></p>
</form>

<form action="url">
    ¿Que servicio necesita?
    <p><input type="radio" name="boton" value="1">Horario de recoleccion<br></p>
    <p><input type="radio" name="boton" value="2">Puntos de recoleccion<br></p>
    <p><input type="radio" name="boton" value="3">Qujas y reclamos</p>
</form>
