<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Números aleatorios</title>
</head>
<body>
   <h1>{% for i in numeros %}
       {{i}}
       <br>   
       {% endfor %}
   </h1>
</body>
</html>
